<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-5">
  <div style="background-color: #3780ff">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="mb-0" style="font-weight: bold">
            Follow us on social media!
          </h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Instagram-->
          <a href="https://www.instagram.com/nss_iithyderabad/" class="ins-ic" target="_blank">
            <i class="fab fa-instagram white-text mr-4 fa-2x"> </i>
          </a>
          <!-- LinkedIn -->
          <a href="https://in.linkedin.com/company/nss-iith" class="li-ic" target="_blank">
            <i class="fab fa-linkedin white-text mr-4 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/nss_iith?lang=en" class="tw-ic" target="_blank">
            <i class="fab fa-twitter white-text mr-4 fa-2x"> </i>
          </a>
          <!-- Facebook -->
          <a href="https://www.facebook.com/nssiith/" class="fb-ic" target="_blank">
            <i class="fab fa-facebook-f white-text mr-4 fa-2x"> </i>
          </a>
          <!--Wordpress-->
          <!-- <a href="https://nssiithyd.wordpress.com/" class="ins-ic" target="_blank">
              <i class="fab fa-wordpress white-text fa-2x"></i>
            </a> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
        <div class="mb-4 d-flex align-items-center justify-content-center">
          <a class="" href="{{site.baseurl}}/index.html">
            <img src="{{site.baseurl}}/assets/images/nss_logo_2022.png" width="90px" padding="0" margin="auto" alt="" />
          </a>
        </div>
        <!-- Content -->
        <h4 class="text-uppercase font-weight-bold">NSS IIT HYDERABAD</h4>
        <!--<hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #2a9df4;">-->
        <p style="font-size: large">©NSS, IIT-Hyderabad, 2023</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Quick links</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #3780ff" />
        <p>
          <a href="{{site.baseurl}}/index.html">Home Page</a>
        </p>
        <p>
          <a href="{{site.baseurl}}/events.html">Events</a>
        </p>
        <p>
          <a href="{{site.baseurl}}/team.html">Team</a>
        </p>
        <p>
          <a href="{{site.baseurl}}/gallery.html">Gallery</a>
        </p>
        <p>
          <a href="{{site.baseurl}}/faq.html">FAQs</a>
        </p>
        <p>
          <a href="https://iith.ac.in/">IITH Website</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #3780ff" />
        <p><i class="fas fa-home mr-3"></i> IIT-Hyderabad, Telangana, India</p>
        <p>
          <i class="fas fa-envelope mr-3"></i><a href="mailto: office.nss@iith.ac.in"> office.nss@iith.ac.in</a>
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i><a href="tel: +91 93980 10389"> +91 93980 10389</a>
        </p>
        <p>
          <a href="{{site.baseurl}}/contact.html"> Contact Us</a>
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2023 Copyright: NSS IIT-Hyderabad
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->