<nav class="mb-1 navbar smart-scroll navbar-expand-lg navbar-dark lighten-1" style="background-color: #1e1e1e;">
  <a class="navbar-brand" href="{{site.baseurl}}/index.html">
    <img src="{{site.baseurl}}/assets/images/nss_logo_2022.png" width="50 pc" padding="0" margin="0" alt=""> <span
      class="title">NSS IIT HYDERABAD</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.url ==" /" or page.url=="/index.html" %} active {% endif %}">
        <a class="nav-link" href="{{site.baseurl}}/index.html#about">ABOUT
          {% if page.url =="/" or page.url =="/index.html" %} <span class="sr-only">(current)</span> {% endif %}
        </a>
      </li>
      <li class="nav-item {% if page.url ==" /events.html" %} active {% endif %}">
        <a class="nav-link" href="{{site.baseurl}}/events.html">EVENTS
          {% if page.url =="/events.html" %} <span class="sr-only">(current)</span> {% endif %}
        </a>
      </li>
      <li class="nav-item {% if page.url ==" /team.html" %} active {% endif %}">
        <a class="nav-link" href="{{site.baseurl}}/team.html">TEAM
          {% if page.url =="/team.html" %} <span class="sr-only">(current)</span> {% endif %}
        </a>
      </li>
      <li class="nav-item dropdown {% if page.url ==" /gallery.html" %} active {% endif %}">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          GALLERY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="{{site.baseurl}}/events/blood-donation.html" class="dropdown-item">Blood Donation</a>
          <a href="{{site.baseurl}}/events/book-donation.html" class="dropdown-item">Book Donation</a>
          <a href="{{site.baseurl}}/events/plantation-drive.html" class="dropdown-item">Plantation Drive</a>
          <a href="{{site.baseurl}}/events/swachh-bharat.html" class="dropdown-item">Swachh Bharat</a>
          <a href="{{site.baseurl}}/events/vidyadaan.html" class="dropdown-item">Vidyadaan</a>
          <a href="{{site.baseurl}}/events/walkathon.html" class="dropdown-item">Walkathon</a>
          <a href="/events/mattress-donation.html" class="dropdown-item">Mattress Donation</a>
        </div>
      </li>

      <!-- <li class="nav-item {% if page.url ==" /gallery.html" %} active {% endif %}">
        <a class="nav-link" href="{{site.baseurl}}/gallery.html">GALLERY
          {% if page.url =="/gallery.html" %} <span class="sr-only">(current)</span> {% endif %}
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://nss.iith.ac.in/evidyadaan/" target="_blank">eVIDYADAAN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/contact.html">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a href="{{site.baseurl}}/faq.html" class="nav-link">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="https://drive.google.com/drive/folders/1YnbXIUdDldIkUrq-dB6ivjUs2mu2R866" class="nav-link" target="_blank">NSS CONSTITUTION</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons justify-content-center">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="https://nss.iith.ac.in/hours_portal" target="_blank">
          <button type="button" class="btn btn-danger">HOUR'S PORTAL</button>
        </a>
      </li>
    </ul>
  </div>
</nav>