/*NAVBAR*/
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
.nav-item {
    font-size: 0.8em;
    text-align: center;
}

.btn-danger {
    size: 40pc;
    border-radius: 50px;
}
/*NAVBAR ends*/

/*Falling down arrow*/
.arrow{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: -20px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/*Arrow ends*/

/* general styles */
html, body {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}
  
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* additional sections */
#home-desktop {
  background: url(../images/Cover-4.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#home-mobile {
  background: url(../images/mobile_view.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .small {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .large {
    display: none !important;
  }
}

.lead {
  color: rgb(101, 101, 101);
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  font-weight: 500;
}

.heading {
  color: #3d3d3d;
  font-weight: 400;
}

@media (max-width: 400px){
  .display-4{
    font-size: 2.5em;
    font-weight: 400;
  }
}
@media (max-width: 331px){
  .navbar-brand .title{
    display: none;
  }
}

/*TEAM STYLE*/
.demo{ background: #f3e8e0; }
.demo .container, 
.demo .col-md-3,
.demo .col-md-4{
  padding: 20px;
}
.our-team{
    text-align: center;
    position: relative;
}
.our-team .pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #252525;
    margin: 0 auto;
    overflow: hidden;
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: all 0.3s ease-out 0s;
}
.our-team .social li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #f28a31;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}
.our-team:hover .social li a{ transform: scale(1); }
.our-team:hover .social li a:hover{ background: #0028da; }
.our-team .team-content{
    padding: 8px 3px;
    background: #252525;
    border-radius: 40px 10px;
    margin-top: -20px;
    color: #fff;
}
.our-team .title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 359px){
    .our-team .pic{
        width: 150px;
        height: 150px;
    }
    .our-team .social{ top: 20px; }
}
/*TEAM STYLE ENDS*/

/*EVENT STYLE Begin*/
.view .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  z-index: 3;
  margin-top: -1rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.card.card-cascade.wider .card-body.card-body-cascade {
  z-index: 1;
  margin-right: 4%;
  margin-left: 4%;
  background: #fff;
  border-radius: 0 0 .25rem .25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.event-img img:hover {
  transform: scale(1.03);
}

.event-img img {
  transition: 0.15s;
}

.event-img > * {
  margin: '50px';
}
/*EVENT STYLE End*/


/* FAQ STYLE BEGIN */
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}

/* FAQ STYLE END */


/* Transition effect */
.card:hover {
  transform: scale(1.05);
}
.card {
  transition: 0.15s;
}

/* img:hover {
  transform: scale(1.05);
}
img {
  transition: 0.1s;
} */
