/*NAVBAR*/
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
.nav-item {
    font-size: 0.8em;
}

.btn-danger {
    size: 40pc;
    border-radius: 50px;
}
/*NAVBAR ends*/

/*Falling down arrow*/
.arrow{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: -20px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/*Arrow ends*/

/* general styles */
html, body {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}
  
/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}
  
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
  
/*TEAM STYLE new*/
.team-list{
  text-align: center;
  overflow: hidden;
  position: relative;
}
.team-list img{
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out 0s;
  border-radius: 10px;
}

.team-list .name{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  margin: 0 0 5px 0;
}
.team-list .position{
  display: block;
  font-size: 14px;
  color: #1c1d1d;
}
/*TEAM STYLE new ends*/

/*TEAM STYLE*/
.demo{ background: #f3e8e0; }
.demo .container, 
.demo .col-md-3,
.demo .col-md-4{
  padding: 20px;
}
.our-team{
    text-align: center;
    position: relative;
}
.our-team .pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #252525;
    margin: 0 auto;
    overflow: hidden;
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: all 0.3s ease-out 0s;
}
.our-team .social li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #f28a31;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}
.our-team:hover .social li a{ transform: scale(1); }
.our-team:hover .social li a:hover{ background: #7a4b94; }
.our-team .team-content{
    padding: 8px 3px;
    background: #252525;
    border-radius: 40px 10px;
    margin-top: -20px;
    color: #fff;
}
.our-team .title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 359px){
    .our-team .pic{
        width: 150px;
        height: 150px;
    }
    .our-team .social{ top: 20px; }
}
/*TEAM STYLE ENDS*/


  /* additional sections */
  #home {
    background: url(../images/Cover-4.jpg) no-repeat center center fixed; 
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .lead {
    color: rgb(101, 101, 101);
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;
  }

  h2 {
    font-weight: 500;
  }

  .heading {
    color: #3d3d3d;
    font-weight: 400;
  }

  @media (max-width: 400px){
    .display-4{
      font-size: 2.5em;
      font-weight: 400;
    }
  }
  @media (max-width: 331px){
    .navbar-brand .title{
      display: none;
    }
  }

  /* EXPERIMENT
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 70%;
  left: 5px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: rgb(0, 0, 0);
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  font-size: 15px;
  background-color: #000000;
  padding: 5px 10px;
  color: #ffffff;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 30%;
  left: 5px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}